build
java6/bin
java6/build
java6/.settings
java7/bin
java7/build
java7/.settings
java8/bin
java8/build
java8/.settings
/gradleResources/build/
/gradleResources/Bootstrap/build
/gradleResources/Bootstrap/.settings
/gradleResources/Bootswatch
/gradleResources/compileLess/.settings
/gradleResources/compileLess/build
/gradleResources/.settings
/dist
/optimized
.gradle
.asscache
/nbproject/
/nbproject/private/
.nb-gradle/
/gradleResources/.nb-gradle/
/.settings
.classpath
.project
/bin/
/target/
/BootsFaces/generated
/meta/.faces-config.xml.jsfdia
src-gen
/target-grunt/
.DS_Store
.idea/
*.iml
/.externalToolBuilders
/.apt_generated/
/infer-out/
