build
java6/build
java7/build
java8/build
/gradleResources/build/
/dist
/optimized
/nbproject/
/nbproject/private/
.nb-gradle/
/gradleResources/.nb-gradle/
/.settings
.classpath
.project
/bin/
/target/
/BootsFaces/generated
/meta/.faces-config.xml.jsfdia
src-gen
/target-grunt/
.DS_Store
.gradle
.idea/
*.iml
/.externalToolBuilders
