build
/dist
/optimized
/nbproject/
/nbproject/private/
.nb-gradle/
/.settings
.classpath
.project
/bin/
/target/
/BootsFaces/generated
/meta/.faces-config.xml.jsfdia
src-gen
/target-grunt/
/gradleResources/.nb-gradle/
.DS_Store
.gradle
.idea/
*.iml
