//PatternFly Overrides

// Panels
/* Collapsible panels */
.panel-heading a.collapsed:before {
	content: "\f105";
}
.panel-heading a::before {
    content: "\f107";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 13px;
    margin-right: 5px;
    text-align: center;
    vertical-align: 0;
    width: 8px;
	color: grey;
}
a.panel-title-link {
	outline: thin dotted rgba(255, 255, 255, 0.3);
    outline-offset: 3px;
}

// Kebab in Navbar
.navbar-nav > .dropdown-kebab {
    padding-top: 10px;
    padding-bottom: 10px;
}

//
// Alert/Messages Icons
// --------------------------------------------------

@icon-prefix: bficon;
@icon-font-name-pf: "Glyphicons Halflings";

.alert > .bficon {
	font-size: 22px;
	vertical-align: middle;
	position: absolute;
	left: 13px;
}

[class^="@{icon-prefix}-"],
[class*=" @{icon-prefix}-"] {
	display: inline-block;
	font-family: "@{icon-font-name-pf}";
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
	/* Better Font Rendering =========== */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.@{icon-prefix}-error-circle-o:before {
	color: @brand-danger;
	content: "\e088";
}
.@{icon-prefix}-warning-triangle-o:before {
	color: @brand-warning;
	content: "\e107";
}
.@{icon-prefix}-ok:before {
	color: @brand-success;
	content: "\e089";
}
.@{icon-prefix}-info:before {
	color: @brand-info;
	content: "\e086";
}

// Patternfly & datatables integration
table.dataTable > thead > tr > th {
  padding-right: 20px;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    bottom: 3px;
	right: 6px;
}
table.dataTable.table-condensed .sorting:after,
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
  top: 3px;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    top: 4px;
}
