.bootstrap-tagsinput {
	height: auto;
	min-height: 34px;
}

.bootstrap-tagsinput .twitter-typeahead {
	width: auto;
	float: none;
	position: absolute !important; 
	/* solution for #721 */
	width: auto;
}

.bootstrap-tagsinput .twitter-typeahead .tt-menu {
	width: auto;
}